* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
h1 {
  text-transform: uppercase;
  color: whitesmoke;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 50px;
}

@media (min-width: 330px) and (max-width: 700px) {
  h1 {
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 35px;
  }
}

h2 {
  text-transform: uppercase;
  color: whitesmoke;
  margin-bottom: 0px;
  margin-top: 100px;
  font-size: 40;
}
@media (min-width: 330px) and (max-width: 700px) {
  h2 {
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-size: 20px;
  }
}

body {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: whitesmoke;
  background-color: black;
}

p {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.center {
  text-align: center;
  font-size: 15px;
}

/* Parrafos */
.parrafo {
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 70px;
}

@media (min-width: 330px) and (max-width: 550px) {
  .parrafo {
    color: whitesmoke;
    font-size: 1rem;
    margin-bottom: 70px;
  }
}

/* Formulario de registro */
.formulario {
  width: 500px;
  height: 900px;
  background: black;
  padding: 30px;
  margin: 10px;
  margin-top: 200px;
  border-radius: 4px;
  color: whitesmoke;
  box-shadow: 7px 13px 37px whitesmoke;
}

.formulario h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 50px;
}

@media (min-width: 330px) and (max-width: 550px) {
  .formulario h2 {
    font-size: 1rem;
  margin-bottom: 20px;
  }
}
@media (min-width: 330px) and (max-width: 1500px) {
  .formulario {
    width: auto;
    height: auto;
    background: black;
    padding: 30px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: whitesmoke;
    box-shadow: 7px 13px 37px whitesmoke;
  }
}

@media (min-width: 330px) and (max-width: 550px) {
  .logo {
    width: 250px;
  }
}

.controls {
  width: 100%;
  background: black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid whitesmoke;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: whitesmoke;
}

.formulario p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.formulario a {
  text-decoration: none;
  color: whitesmoke;
}

.formulario a:hover {
  color: #1f53c5;
  text-decoration: underline;
}


.formulario .boton {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: whitesmoke;
  margin: 16px 0;
  font-size: 16px;
}

.imgForm {
  width: 500px;
  height: 400px;
  margin-top: 200px;
  margin-right: 10px;
  box-shadow: 7px 13px 37px whitesmoke;
}

@media (min-width: 330px) and (max-width: 700px){
  .imgForm {
    width: 500px;
    height: 400px;
    margin-top: 200px;
    margin-right: 10px;
    box-shadow: 7px 13px 37px whitesmoke;
    display: none;
  }
  
}

.imgForm2 {
  width: 500px;
  height: 400px;
  margin-top: 96px;
  margin-right: 10px;
  box-shadow: 7px 13px 37px whitesmoke;
}

/* lista de beneficios */
li {
  margin-top: 30px;
  margin-bottom: 50px;
  color: whitesmoke;
  font-size: 20px;
}

@media (min-width: 330px) and (max-width: 700px) {
  li {
    text-align: left;
    margin-top: 30px;
  margin-bottom: 50px;
  color: whitesmoke;
  font-size: 1rem;
  }
}


.lista {
  margin-top: 80px;
  color: whitesmoke;
  font-size: 20px;
}

.imgInfo {
  box-shadow: 7px 13px 37px whitesmoke;
}

.container-fluid {
  max-width: 1800px;
}

@media (max-width: 1400px) {
  .imagen {
    display: none;
  }
}


@media (max-width: 1400px) {
  .img2 {
    display: none;
  }
}

/* Sucursales */
.imgLocal {
  width: 800px;
  margin-bottom: 20px;
  height: 400px;
  margin-top: 20px;
}

@media (min-width: 330px) and (max-width: 700px) {
  .imgLocal {
    width: 800px;
    margin-bottom: 20px;
    height: 300px;
    margin-top: 20px;
  }
}


iframe {
  margin-bottom: 70px;
  border-radius: 10px;
}

@media (min-width: 330px) and (max-width: 700px) {
  iframe {
    width: 300px;
    height: 200px;
  }
}

/* formulario de turnos*/
.registrarse form {
  width: 500px;
  height: auto;
  background: black;
  padding: 30px;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  color: whitesmoke;
  box-shadow: 7px 13px 37px whitesmoke;
  font-family: "calibri";
}

@media (min-width: 330px) and (max-width: 1100px) {
  .registrarse form {
    width: auto;
  height: auto;
  background: black;
  padding: 30px;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  color: whitesmoke;
  box-shadow: 7px 13px 37px whitesmoke;
  font-family: "calibri";
  }
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: black;
}

button {
  background-color: #1f53c5;
  color: whitesmoke;
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.imagen-lateral {
  margin-top: 20px;
  width: 750px;
  float: right;
  box-shadow: 7px 13px 37px whitesmoke;
}

@media (min-width: 1000px) and (max-width: 1900px) {
  .imagen-lateral {
  width: 600px;
  height: 575px;
  margin-top:30px;

  }
}

@media (min-width: 800px) and (max-width: 1900px) {
  .imagen-lateral {
  width: 500px;
  height: 575px;
  margin-top:30px;

  }
}

@media (min-width: 330px) and (max-width: 1100px) {
  .imagen-lateral {
  display: none;
  }
}

/* CARROUSEL */
.car {
  border-radius: 30px;
}

/* Footer */
footer {
  color: whitesmoke;
}

footer li {
  color: whitesmoke;
}

@media (min-width: 330px) and (max-width: 700px) {
  footer li {

    font-size: 12px;
  }
}

/* Menu hamurguesa */
.menuNav a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

@media (min-width: 330px) and (max-width: 700px) {
  .menuNav a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
  }
}

.menuNav a:hover {
  background-color: whitesmoke;
  color: black;
  border-radius: 2000px;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */